.card {
    font-family: arial;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: gray;
}

div {
    position: relative;
}

img {
    width: auto;
    max-height: 100%;
}

.rectangle {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    opacity: 0.3;
}
